#mainpad {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  background: #2f242c;
  cursor: pointer;
}

#chat-container {
  padding: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  cursor: pointer;
}

#input-field-form {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  padding: 20px;
}

#input-field {
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px;
}

#recordingInterface, #stoppedInterface {
  margin-top: 20px;
}

#human-message {
  background: #ebe1f5;
  padding: 15px;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 25px;
}

#ai-message {
  background: #f5f2fd;
  padding: 15px;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 25px;
}

h1 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#audio-player {
  display: none; /* Hide the audio player */
}