#mainpad {
  padding: 30px;
}

#container {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  background: #2f242c;
  cursor: pointer;
  margin: 10px;
}

#chat {
  overflow: auto;
  height: calc(100vh - 100px);
}

#chat::-webkit-scrollbar {
  display: none;
}

#input-field-form {
  padding: 20px;
  height: 60px;
  background-color: white;
  flex-shrink: 0;
}

#input-field {
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 20px;
  /* min-height: 45px; */
  min-width: 200px;
  font-size: 1rem;
  padding: 10px;
}

#recordingInterface, #stoppedInterface {
  margin-top: 20px;
}

#human-message {
  background: #ebe1f5;
  padding: 15px;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 25px;
}

#ai-message {
  background: #f5f2fd;
  padding: 15px;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 25px;
}

#input-field-form {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 2rem;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}